<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Room:</strong>
    <%= message.room_id %><%= @room.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <small><%#= ((message.created_at).to_i - (Time.now).to_i) %>
    <%= distance_of_time_in_words(message.created_at, Time.now, options = {}) %></small>
    <%= message.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this message", message, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this message', edit_message_path(message), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
