  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Ruby on Rails, Hotwire, Stimulus, Tailwind, HTML, CSS, JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Rails 7 exercises and examples">
  <meta name="author" content="Ferran Cabrer i Vilagut">

    <title>CONSEN Rails7 exercises</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'consen-favicon.ico' %> 
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
<style>
</style>

